extends layout
block css
    link(rel='stylesheet', href='/stylesheets/index.css')
block content
    ul.grid
        li(class='col square', data-index='0')
            div.title
                span.name Buzz
            div.position
                div ---
            div.visual-spacer 
                p
            div.volume
                div.vol-click
                div.vol-bar
                div.vol-bar-mask
                div.vol-slider
                div.vol-value 50
                div.vol-label volume
            ul.controls    
                li.control
                    div.cutoff
                    div.dial-label Dampening
                li.control
                    div.q
                    div.dial-label Resonance
                li.control
                    div.vibrato
                    div.dial-label vibrato
        li(class='col triangle', data-index='1')
            div.title
                span.name Ring
            div.position
                div ---
            div.visual-spacer
                p
            div.volume
                div.vol-click
                div.vol-bar
                div.vol-bar-mask
                div.vol-slider
                div.vol-value 50
                div.vol-label Volume
            ul.controls  
                li.control
                    div.cutoff
                    div.dial-label Dampening
                li.control
                    div.q
                    div.dial-label Resonance
                li.control
                    div.vibrato
                    div.dial-label vibrato
        li(class='col sine', data-index='2')
            div.title
                span.name Drone 
            div.position
                div ---
            div.visual-spacer
                p 
            div.volume
                div.vol-click
                div.vol-bar
                div.vol-bar-mask
                div.vol-slider
                div.vol-value 50
                div.vol-label Volume
            ul.controls  
                li.control
                    div.cutoff
                    div.dial-label Dampening
                li.control
                    div.q
                    div.dial-label Resonance
                li.control
                    div.vibrato
                    div.dial-label vibrato    
        li.col.info
            div.title
                span.name in.c 
            div.timer 00:00
            ul.info-cards
                li.square
                    h5.name Buzz
                    ul.players-types
                        li.player-type
                            i.icon-user.human
                            i.icon-monitor.robot.selected
                    div.phrase
                li.triangle
                    h5.name Ring
                    ul.players-types
                        li.player-type
                            i.icon-user.human
                            i.icon-monitor.robot.selected
                    div.phrase
                li.sine
                    h5.name Drone
                    ul.players-types
                        li.player-type
                            i.icon-user.human
                            i.icon-monitor.robot.selected

                    div.phrase
                            
    div.visual-canvas 
        canvas

    div.start-dialog 
        h4.inst-header Press any instrument's button to begin a performance of 
            strong In C 
        p.inst-body 
      
block scripts
    //- script(src='/socket.io/socket.io.js')
    script(src='/javascripts/libs/jquery-mousewheel/jquery.mousewheel.min.js')
    script(src='/javascripts/libs/paper/dist/paper.js')
    script(src='/javascripts/libs/jquery.dial.js')
    script(src='/javascripts/inc.js') 
    script(src='/javascripts/sockets.js')
    script(src='/javascripts/timbre.js')
    script(src='/javascripts/temper.js')
    script(src='/javascripts/trace.js')
    script(src='/javascripts/mson.js')
    script(src='/javascripts/ensemble.js')
    script(src='/javascripts/ui.js')
