doctype html
html
  head
    title in.c
    block css
  body
    block content
    script(src='/javascripts/libs/jquery/dist/jquery.min.js')
    script(src='/javascripts/libs/underscore/underscore-min.js')
    block scripts
